body,header,main,footer,nav{
	padding: 0;
	margin: 0;
}
body{
	font-family: "黑体",Arial,sans-serif;
}

/*头部样式部分*/
header{
	height: 60px;
	background-color: #303030;
}
header .baidu-icon{
	margin: 0 40px;
	line-height: 52px;
	float: left;
}
.baidu-icon img{
	width: 120px;
	height: 40px;
	vertical-align: middle;
}
header .nav-list{
	padding: 0;
	margin: 0;
	line-height: 58px;
	list-style-type: disc;
	float: right;
}
.nav-list li{
	width: 5em;
	padding: 0 5px 0 0;
	float: left;
}
.nav-list a:link{
	text-decoration: none;
	font-size: .6em;
	color: #fff;
}
.nav-list a:visited{
	text-decoration: none;
	font-size: .6em;
	color: #fff;
}
.nav-list a:hover{
	font-size: .8em;
}
.nav-list a:active{
	color: #ACA9A9
}

/*正文样式部分*/
.container{
	background-color: #E9D6D6;
	width: 100%;
	overflow: auto;
}
main{
	width: 100%;
	float: left;
}
main .inner{
	margin-right: 410px;
}
article{
	margin:20px;
	padding:20px;
	background-color: #fff;
}
article h2{
	font-size: 1.2em;
	color: #6D6B6B;
}
p{
	text-indent: 2em;
}
.pros-list{
	list-style: none;
}
.pic-list{
	list-style: none;
	padding:0;
}
.pic-list li{
	display: inline-block;
	width: 200px;
	border: 1px solid #000;
	padding: 10px;
	margin: 20px 10px;
}
#tb{
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}
#tb,#tb tr,#tb td,#tb th{
	border: 1px solid #DED2D2; 
	padding: 5px;
}
.table-head{
	background-color: #393535;
	color:#fff;
}
.total{
	background-color: #CEBDBD;
}

/*侧边栏样式部分*/
aside{
	width: 350px;
	margin:20px;
	padding: 20px;
	background-color: #fff;
	float: left;
	margin-left: -410px;
}
aside p{
	text-indent: 0;
}
form .row{
	width: 100%;
	margin: .5em 0;
}
form .form-label{
	cursor: pointer;
	display: inline-block;
	padding: 3px 6px;
	text-align: right;
	width: 40%;
	vertical-align: top;
}
.hint{
	margin-top:0;
	margin-left: 45%;
	font-size: .9em;
	color: #A79F9F;
}
.sub{
	text-indent: 0;
}
p textarea{
	width: 45%;
}
.btn{
	cursor: pointer;
	width: 100%;
	background: blue;
	height: 2.5em;
	border: 0;
	border-radius: 10px;
	color: #fff;
}
.btn:hover{
	background-color:#6A36FC;
}
#aside-title{
	height: 50px;
	border-left: 4px solid #E9D6D6;
}
#aside-title h1{
	font-size: 1em;
	margin: 0 0 0 15px;
	line-height: 50px;
}

/*底部样式部分*/
footer{
	padding: 10px;
	background-color: #000000;
}
footer p{
	color: #fff;
	text-align: center;
}

article,aside{
	box-shadow: 1px 1px 2px #464444;
}