body,html{
    height:100%;
    padding: 0;
    margin: 0
}
div{
	border: 1px solid #999;
}
.container{
	margin: 20px;
	padding: 0 20px 20px;
	background-color: #eee;
	overflow: auto;
	box-sizing: border-box;
}
.left,.right{
	float: left;
	margin-top: 20px;
	background-color: #fff;
}
.left{
	width: 200px;
	margin-left: -100%;  /*注意！！！ 这个百分数是相对于父元素的*/
	box-sizing: border-box;
	padding: 20px;
}
.center{
	float: left;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	border: none;
}
.center-inner{
	padding: 0 20px 20px;
	margin-left: 200px;
	margin-right: 120px;
	background-color: #fff;
}
.right{
	width: 120px;
	margin-left: -120px;
	box-sizing: border-box;
}
.person-logo{
	width: 80px;
	height: 80px;
	background-color: #eee;
	margin: 20px;
}
.left-logo{
	height: 80px;
	display: inline-block;
}
.left img{
	width: 80px;
	height: 80px;
}
.left span{
	vertical-align: top;
}