body,header,main,footer,nav{
	padding: 0;
	margin: 0;
}
body{
	padding: 0 35px;
	background-color: #0E0C0C;
	font-family: "黑体",Arial,sans-serif;
}

.container{
	background-color: #E9D6D6;
	max-width: 100%;
	padding: 1px 1px;
}
header{
	height: 60px;
	background-color: #303030;
	vertical-align: middle;
}
header .baidu-icon{
	margin: 0 40px;
	vertical-align: middle;
	line-height: 80px;
	float: left;
}
header .nav-list{
	padding: 0;
	margin: 0;
	line-height: 60px;
	list-style-type: disc;
	float: right;
}
.nav-list li{
	width: 5em;
	padding: 0 5px 0 0;
	float: left;
}
.nav-list a:link{
	text-decoration: none;
	font-size: .6em;
	color: #fff;
}
.nav-list a:visited{
	text-decoration: none;
	font-size: .6em;
	color: #fff;
}
.nav-list a:hover{
	font-size: .8em;
}
.nav-list a:active{
	color: #ACA9A9
}
article{
	margin:20px;
	padding:20px;
	background-color: #fff;
}
article h2{
	font-size: 1.2em;
	color: #6D6B6B;
}
aside{
	margin:20px;
	padding: 20px;
	background-color: #fff;
}
footer{
	padding: 10px;
	background-color: #000000;
}
footer p{
	color: #fff;
	text-align: center;
}
p{
	text-indent: 2em;
}
.pros-list{
	list-style: none;
}
.pic-list{
	list-style: none;
}
.pic-list li{
	width: 200px;
	border: 1px solid #000;
	padding: 10px;
	margin: 20px 10px;
}
.pic-list p{

}
#tb{
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}
#tb,#tb tr,#tb td,#tb th{
	border: 1px solid #DED2D2; 
	padding: 5px;
}
.table-head{
	background-color: #393535;
	color:#fff;
}
.total{
	background-color: #CEBDBD;
}

.row{
	width: 100%;
	margin: .5em 0;
}
form .form-label{
	cursor: pointer;
	display: inline-block;
	padding: 3px 6px;
	text-align: right;
	width: 300px;
	vertical-align: top;
}
.hint{
	margin-left: 324px;
	font-size: .9em;
	color: #A79F9F;
}
.sub{
	text-indent: 0;
}
.btn{
	cursor: pointer;
	width: 100%;
	background: blue;
	height: 2.5em;
	border: 0;
	border-radius: 10px;
	color: #fff;
}
.btn:hover{
	background-color:#6A36FC;
}
#aside-title{
	height: 50px;
	border-left: 4px solid #E9D6D6;
}
#aside-title h1{
	font-size: 1em;
	margin: 0 0 0 15px;
	line-height: 50px;
}