*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #000;
}
#form-check{
	width: 800px;
	padding: 50px;
	background-color: #fff;
	border-radius: 5px;
	margin:200px auto;
	font-size: 1.2em;
}
#form-check>div{
	width: 555px;
	margin: 20px auto;
}
form label{
	cursor: pointer;
	display: inline-block;
	width: 125px;
	font-size: 1.2em;
	text-align: right;
}
.txt{
	border-radius: 5px;
	border: 2px solid lightgray;
	margin: 0 20px;
	width: 20em;
	height: 2em;
	font-size: 1em;
}
#check{
	cursor: pointer;
	background-color: #2335FC;
	border: 2px solid #2335FC;
	width: 80px;
	border-radius: 5px;
	font-size: 1.2em;
	color:#fff;
}
#check:hover{
	border-color: #4387F5; 
}
.prompt{
	display: block;
	margin-left: 155px;
	color: gray;
}
#btn-check{
	text-align: right;
	padding-right: 22px;
}